/*Import fonts from google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Play&family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

/*Default fonts for body elements*/
body{
    font-family: 'Karla' , sans-serif;
    color: slategray;
    font-size: 1vw;
}

h2 {
    font-family:'Play', sans-serif;
    font-size: 2vw;
    color: slategray;
}

/*HEADER*/
header{
  background-color: beige;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
}

/*Game logo Design*/
#game-title {
    font-family:'Unbounded', sans-serif;
    font-size: 3.5vw;
    color: slategray;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5vw;  
}

/*Menu container*/
#menu-container {
  background-color: beige;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  position: absolute;
  right: 0;
}

#stack-icon {
  color: slategray;
  font-size: 3rem;
}

#stack-icon:hover {
  color: sienna;
  text-shadow: 4px 2px 4px #000000;
}

.fa-volume-high{
  color: slategray;
  font-size: 2rem;
}

.fa-volume-high:hover {
  color: sienna;
  text-shadow: 4px 2px 4px #000000;
}


/*Hidden Menu*/
#hidden-menu {
  display: none;
  background-color: whitesmoke;
  position: absolute;
  padding: 10px;
  max-width: 100%;
  top: 150px;
  z-index: 1;
}

#hidden-menu > a {
  color: slategray;
  text-decoration: none;
  width: 100%;
  text-align: right;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Style start container*/
/*Footer styling*/
footer {
  background-color: slategray;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 0;
}

.social-media-links{
  display: flex;
}

.social-media-links li, i {
  list-style-type: none;
  color: beige;
  font-size: 2rem;
  padding: 10px;
}