/*Import fonts from google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Play&family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

/*Default fonts for body elements*/
body{
    font-family: 'Karla' , sans-serif;
    color: slategray;
    font-size: 1vw;
}

h2 {
    font-family:'Play', sans-serif;
    font-size: 2vw;
}

/*HEADER*/
header{
  background-color: beige;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  z-index: 1;
}

/*Game logo Design*/
#game-title {
    font-family:'Unbounded', sans-serif;
    font-size: 3.5vw;
    color: slategray;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5vw;  
}

/*Menu container*/
#menu-container {
  background-color: beige;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  position: absolute;
  right: 0;
}

#stack-icon {
  color: slategray;
  font-size: 3rem;
}

#stack-icon:hover {
  color: #DD6E42;
  text-shadow: 4px 2px 4px #000000;
}

.fa-volume-high{
  color: slategray;
  font-size: 2rem;
}

.fa-volume-high:hover {
  color: #DD6E42;
  text-shadow: 4px 2px 4px #000000;
}

/*Hidden Menu*/
#hidden-menu {
  display: none;
  background-color: whitesmoke;
  position: absolute;
  padding: 10px;
  max-width: 100%;
  top: 150px;
  
}

#hidden-menu > a {
  color: slategray;
  text-decoration: none;
  width: 100%;
  text-align: right;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*START CONTAINER*/
.game-area {
  position: absolute;
  top: 20%;
  bottom: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-container {
  background-color: slategray;
  display: none;
  width: 500px;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: beige;
  border-radius: 5px;
}

.start-container h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}

.start-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

.start-menu input[type="radio"]{
  opacity: 0;
  position: fixed;
  width: 0;list-style-type: none;
}
.start-menu label {
  display: inline-block;
  background-color: beige;
  color: slategray;
  width: 80px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 3px 3px 3px black;
  border: solid beige 2px;
  border-radius: 4px;
}

.start-menu input[type="radio"]:checked + label {
  background-color: #DD6E42;
  color: #f5f5dc;
  box-shadow: 0 0;
  border-radius: 4px;
  border: solid #DD6E42 2px;
}

.start-menu label:hover {
  border: solid #DD6E42 2px;
  box-shadow: 0 0;
}

.start-menu input[type="text"]{
  background-color: beige;
  color: #708090;
  box-shadow: 3px 3px 3px black inset;
  border-radius: 4px;
  width: 160px;
  padding: 10px 20px;
  font-size: 16px;
}

.start-menu input[type="text"]:hover {
  border: solid #DD6E42 2px;
}

.start-menu button {
  background-color: slategray;
  margin-top: 25px;
}

.fa-circle-play{
  color: beige;
  font-size: 3rem;
}

.fa-circle-play:hover{
  color: #DD6E42;
  font-size: 3rem;
}

/*QUESTION CONTAINER*/
.question-container{
  background-color: slategray;
  width: 500px;
  height: 400px;
  color: beige;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 10px;
  display: none;
}

.question-container h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.question-container p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.answer-options {
  display: flex;
  flex-direction: column;
}

.answer-options button {
  background-color: slategray;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  width: auto;
  border-radius: 4px;
  color: beige;
}

.answer-options button:hover {
  background-color: #DD6E42;
  color: #f5f5dc;
  box-shadow: 0 0;
  border-radius: 4px;
  border: solid #DD6E42 2px;
}

.staus-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  }

.fa-chevron-right{
  font-family: "Karla", sans-serif;
  background-color: slategray;
  color: beige;
  font-size: 2.5rem;
}

.fa-chevron-right:hover{
  color: #DD6E42;
}

/*FINISH CONTAINER*/
.finish-container{
  background-color: slategray;
  width: 500px;
  height: 400px;
  color: beige;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fa-rotate-left{
  background-color: slategray;
  color: beige;
  font-size: 2.5rem;
}

.fa-rotate-left:hover{
  color: #DD6E42;
}


/*Footer styling*/
footer {
  background-color: slategray;
  height: 20%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content:center;
  position:fixed;
  bottom: 0
}

.social-media-links{
  display: flex;
}

.social-media-links :is(li, i) {
  list-style-type: none;
  color: beige;
  font-size: 2rem;
  padding: 10px;
}