/*Import fonts from google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Play&family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

/*General Style*/
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Karla', sans-serif;
  font-size: 100%;
}
/*GENERAL SYLE*/
body{
  font-family: 'Karla' , sans-serif;
   /*Idea taken to use scaling of percentage in question as per article: https://blog.logrocket.com/using-em-vs-rem-css/ */
}

h2, h2>span{
  font-family:'Play', sans-serif;
  font-size: 2rem;
  padding-bottom: 20px;
}

h1 {
  font-family:'Unbounded', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.5vw;  
}

/*STANDARD SETTINGS*/
.grey-on-beige{
  background-color: #f5f5dc;
  color: slategray;
}

.beige-on-grey{
  background-color: slategray;
  color: #f5f5dc;
}

.black-on-white{
    background-color: whitesmoke;
    color: black;
}

.raised-box{
  width: 90%;
  padding: 10px 5px;
  box-shadow: 3px 3px 3px black;
  border: solid beige 2px;
  border-radius: 4px;
}

.fa-solid:hover,.fa-regular:hover,.fa-brands:hover{
  color:#DD6E42;
  text-shadow: 4px 2px 4px #000000;
}

.o-hover:hover{
  background-color: #DD6E42;
  border: solid #DD6E42 2px;
  border-radius: 4px
}

.fa-solid,.fa-regular,.fa-brands{
  font-size: 2.5rem;
}

/*HEADER SECTION*/
header{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  z-index: 1;
}

/*Menu container*/
#menu-position {
  width: 200px;
  height: 100%;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-drop{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

#hidden-menu {
  display: none;
  position: absolute;
  top: 50px;
}

#hidden-menu > a {
  display: block;
  margin-left: 10px;
  margin-top: 15px;
  text-decoration: none;
}

/*GAME SECTION*/
.game-parent-container{
  width: 450px;
  height: 450px;
  padding: 25px;
  border-radius: 5px;
  background-color: slategray;
  text-align: center;
}

/*background-photo*/
#background-img {
  position: absolute;
  top: 20%;
  bottom: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Game window sections - identical for all game windows*/

.top-section{
  height: 10%;
  text-align: center;
}

.middle-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 75%;
  text-align: center;
}

.bottom-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  text-align: center;
}

/*Game windows control display*/
#start-container {
  display: inline;
}

#question-container{
  display: none;
}

#finish-container{
  display: none;
}

/*START WINDOW SPESIFIC STYLE PROPERTIES*/
#start-form{
  display: inline-block;
  height: 100%;
  width: 60%;
}

.radio-btn{ /*https://stackoverflow.com/questions/18078871/hide-check-radio-button-with-css*/
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-btn:checked + label{
  background-color: #DD6E42;
  border: solid #DD6E42 2px;
  box-shadow: 0 0;
}

/*QUESTION WINDOW SPESIFIC STYLE PROPERTIES*/

#time-left, #time-left~div{
  font-size: 1.5rem;
}
#finish-game{
  display: none;
}

/*Footer styling*/
footer {
  background-color: slategray;
  height: 10%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position:fixed;
  bottom: 0
}

.social-media-links{
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  margin: auto;
  width: 100px;
}