/*Import fonts from google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Play&family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

/*General Style*/
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Karla', sans-serif;
  color: whitesmoke;
}
/*GENERAL SYLE*/
body{
  font-family: 'Karla' , sans-serif;
   /*Idea taken to use scaling of percentage in question as per article: https://blog.logrocket.com/using-em-vs-rem-css/ */
}

h2, h2>span {
  font-family:'Play', sans-serif;
  font-size: 2rem;
  padding-bottom: 20px;
}

h1 {
  font-family:'Unbounded', sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 300;
  letter-spacing: 0.5vw;  
}

/*STANDARD SETTINGS*/

.dark-on-light{
  background-color: whitesmoke;
  color: #031F3D;
}

button{
  background-color: transparent;
}

.raised-box{
  width: 90%;
  padding: 10px 5px;
  box-shadow: 3px 3px 3px black;
  border: solid whitesmoke 1px;
  border-radius: 4px;
}

.fa-solid:hover,.fa-regular:hover,.fa-brands:hover{
  color:#504aa1;
  text-shadow: 4px 2px 4px #000000;
}

.o-hover:hover{
  background-color: #504aa1;
  border: solid #504aa1 2px;
}

.fa-solid,.fa-regular,.fa-brands{
  font-size: 2.5rem;
}

/*BACKGROUND IMAGE*/

/*settings taken from https://css-tricks.com/perfect-full-page-background-image/ */
#stars{
  background: url('/assets/images/pexels-rafael-cerqueira-4737484.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*HEADER SECTION*/
header{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position:fixed;
}

/*GAME SECTION*/
#game-area {
  position: absolute;
  top: 20%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-parent-container{
  width: 400px;
  height: 400px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(3,31,61,0.9);
  text-align: center;
}

#athena-img{
  position: inline;
  height: 100%;
  z-index: 1;
}

#athena-img-half{
  display: none;
}
/*Game window sections - identical for all game windows*/
.top-section{
  height: 10%;
  text-align: center;
}

.middle-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 75%;
  text-align: center;
}

.bottom-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  text-align: center;
}

/*Game windows control display*/
#start-window {
  display: inline;
}

#question-window{
  display: none;
}

#finish-window{
  display: none;
}

/*START WINDOW SPESIFIC STYLE PROPERTIES*/
#start-form{
  display: inline-block;
  height: 100%;
  width: 60%;
}

.radio-btn{ /*https://stackoverflow.com/questions/18078871/hide-check-radio-button-with-css*/
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-btn:checked + label{
  background-color: #504aa1;
  border: solid #504aa1 2px;
  box-shadow: 0 0;
}

/*QUESTION WINDOW SPESIFIC STYLE PROPERTIES*/

p, #question-paragraph{
  background-color: whitesmoke;
  color: #031F3D;
  border-radius: 30px;
}
#time-left, #time-left~div{
  font-size: 1.5rem;
}

#finish-game{
  width: 100%;
}

.fa-check{
  display: inline;
  color: greenyellow;
  font-size: 1.5rem;
}

.fa-x{
  display: inline;
  color: red;
  font-size: 1.5rem;
}

#move-on{
  visibility: hidden;
}

#next-question {
  display: inline;
}

#finish-game {
  display: none;
}

/*Footer styling*/
footer {
  background-color: #031F3D;
  height: 10%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position:fixed;
  bottom: 0;
}

.social-media-links{
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  margin: auto;
  width: 100px;
}

/*MEDIA QUERIES*/
@media (max-height:730px){

  #body{
    overflow-y: scroll;
  }

  #athena-img{
    height: 511px;
    bottom: 73px;
  }

  #game-area {
    position: absolute;
    height: 511px;
    top: 146px;
    left: 0;
    right: 0;
  }

  header {
    position: relative;
    height: 146px;
  }
  footer {
    height: 73px;
    position: relative;
    bottom: -511px;
  }
}

@media screen and (max-aspect-ratio: 10/8){

  *{font-size: 2vmax;}

  #game-title{
    font-size: 3.6vmax;
    text-align: center;
    background-color: rgba(3,31,61,0.5);
    width: 70%;
  }

  header{
    display: flex;
    align-items: center;
    z-index: 2;
  }

  #athena-img{
    display: none;
  }

  #athena-img-half{
    display: inline;
    position: fixed;
    right: 0;
    bottom: 10%;
    top: 0;
    max-height: 100%;
    overflow: hidden;
  }

  .game-parent-container{
    height: 80%;
    width: 80%;
    padding: 10px;
    z-index: 1;
    background-color: rgba(3,31,61,0.5);
    border-radius: 15px;
  }

  .answers, .selectable{
    background-color: rgba(3,31,61,0.9);
  }

  #game-area {
    left: 0;
    right: 0;
  }

  #start-form{
    width: 70%;
  }

  .top-section{
    height: 10%;
  }
  
  .middle-section{
    height: 70%;
  }
  
  .bottom-section{
    height: 15%;
  }
}