/*Import fonts from google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Play&family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

/*Default styles*/
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Karla';
}

.logo-beige{
  color:#f5f5dc;
  background-color: slategray;
  font-size: 2.5rem;
}

.logo-beige:hover{
  color:#DD6E42;
  text-shadow: 4px 2px 4px #000000;
}

.orange-background:hover{
  background-color: #DD6E42;
  text-shadow: 4px 2px 4px #000000;
}

.orange-border:hover {
  border: solid #DD6E42 2px;
  box-shadow: 0 0;
}

body{
    font-family: 'Karla' , sans-serif;
    font-size: 62.5%; /*Idea taken to use scaling of percentage in question as per article: https://blog.logrocket.com/using-em-vs-rem-css/ */
}

h2 {
    font-family:'Play', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

button {
  font-size: 1.1rem;
}

/*HEADER*/
header{
  background-color: beige;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  z-index: 1;
}

/*Game logo Design*/
#game-title {
    font-family:'Unbounded', sans-serif;
    font-size: 3.5vw;
    color: slategray;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5vw;  
}

/*Menu container*/
#menu-container {
  background-color: beige;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  position: absolute;
  right: 0;
}

.burger-menu{
  color: slategray;
  font-size: 2rem;
}

.burger-menu:hover{
  color: #DD6E42;
  text-shadow: 4px 2px 4px #000000;
}

/*Hidden Menu*/
#hidden-menu {
  display: none;
  background-color: whitesmoke;
  position: absolute;
  padding: 10px;
  max-width: 100%;
  top: 150px;
  
}

#hidden-menu > a {
  color: slategray;
  text-decoration: none;
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*START CONTAINER*/
.game-area {
  position: absolute;
  top: 20%;
  bottom: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-container {
  background-color: slategray;
  display: inlin;
  width: 500px;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: beige;
  border-radius: 5px;
}

.start-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

.start-menu input[type="radio"]{
  opacity: 0;
  position: fixed;
  width: 0;list-style-type: none;
}
.start-menu label {
  display: inline-block;
  background-color: beige;
  color: slategray;
  width: 80px;
  padding: 10px 20px;
  font-size: 1.1rem;
  box-shadow: 3px 3px 3px black;
  border: solid beige 2px;
  border-radius: 4px;
}

.start-menu input[type="radio"]:checked + label {
  background-color: #DD6E42;
  color: #f5f5dc;
  box-shadow: 0 0;
  border-radius: 4px;
  border: solid #DD6E42 2px;
}

.start-menu label:hover {
  border: solid #DD6E42 2px;
  box-shadow: 0 0;
}

.start-menu input[type="text"]{
  background-color: beige;
  color: #708090;
  box-shadow: 3px 3px 3px black inset;
  border-radius: 4px;
  width: 160px;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.start-menu input[type="text"]:hover {
  border: solid #DD6E42 2px;
}

.start-menu button {
  background-color: slategray;
  margin-top: 25px;
}

/*QUESTION CONTAINER*/
#question-container{
  background-color: slategray;
  width: 500px;
  height: 400px;
  color: beige;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: inline;
}


#question-number {
  font-size: 1em;
  padding-bottom: 20px;
  font-family: inherit;
}

#question-container p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.answer-options {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.options {
  background-color: slategray;
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  padding: 10px;
  margin-bottom: 20px;
  width: auto;
  border-radius: 4px;
  color: beige;
}

.options .fa-check{
  background-color: none;
  font-size: 1rem;
  color: greenyellow;
}

.options .fa-x{
  background-color: none;
  font-size: 1rem;
  color: red;
}

.answer-options button:hover {
  background-color: #DD6E42;
  color: #f5f5dc;
  box-shadow: 0 0;
  border-radius: 4px;
  border: solid #DD6E42 2px;
}

#staus-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  width: 100%;
  padding: 20px;
  }

#next-question{
  display:inline;
}

#finish-game {
  display:inline;
}

/*FINISH CONTAINER*/
#finish-container{
  background-color: slategray;
  width: 500px;
  height: 400px;
  color: beige;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*Footer styling*/
footer {
  background-color: slategray;
  height: 10%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position:fixed;
  bottom: 0
}

.social-media-links{
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  margin: auto;
  width: 100px;
}